.root {
  padding: 20px;
}

.details {
  padding: 20px;
}

.controls {
  float: right;
}

.controlButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  margin-top: 20px;
  margin-bottom: 50px;
}

.footer {
  height: 100px;
}
