.root {
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin-top: 30px;

  min-width: 700px;
}

.header {
  font-weight: bold;
  font-size: 16pt;
}

.description {
  font-size: 10pt;
}