@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  padding: 40px;
  width: auto;
  margin: 20;
  text-align: center;
  display: inline-block;
}

.button {
  margin: 20px 0 20px 0;
}
