.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 15px;
  margin: 15px;
}

.profilePicture {
  height: 150px;
  width: 150px;
}

.dropzone {
  width: 100%;
  height: 200px;
  border: 5px dashed black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;
}

.dragAndDropText {
  font-size: 24pt;
  font-weight: bold;

  margin: auto 0 0 0;
}

.clickText {
  font-size: 10pt;

  margin: 0 0 auto 0;
}
