.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px;
}

.editor {
  width: 100%;
  padding: 0 25px 0 25px;
}

.posts {
  width: 90%;
  padding: 25px;
}

.post {
  padding: 10px;
}

.viewMoreButton {

}