@import '../variables.scss';

.root {
  font-family: $baseFontFamily;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: stretch;
}

.threads {
  flex: 1;
}

.thread {
  flex: 2;
}

.noThread {
  height: 100%;
  display: flex;
}

.noThreadMessage {
  margin: auto;
  text-align: center;

  font-size: 20pt;
  color: lightgray;
}