@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: column;
  align-items: flex-stretch;

  flex: 1;
  overflow-y: auto;
}

.message {
  width: 60%;
}

.loading {
  margin-bottom: 0;
}