@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  position: 'relative';
  padding: 5px;
  width: 100%;
}

.title {
  margin-top: 0;
}

.tip {
  color: gray;
}

.label {
  display: flex;
  vertical-align: middle;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.chip {
  margin: 4px !important;
}
