@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  padding: 5px;
  width: 100%;
}

.title {

}

.description {
  position: relative;
  bottom: 13px;
  font-size: 13px;
}

.tip {
  position: relative;
  bottom: 13px;
  font-size: 13px;
}

.label {
  font-size: 13px;
  margin-right: 10px;
  padding-top: 5px;
  line-height: 15px;
  color: gray;
}

.tags {
  display: flex;
  flex-flow: wrap;
}

.tag {
  margin: 1px 2px !important;
  font-size: 10px;
  height: 33px;
}
