.root {

}

.header {
  display: flex;
  height: 70px;
}

.label {
  width: 350px;
}

.title {
  font-size: 28px;
}

.description {
  position: relative;
  top: -10px;
  text-wrap: normal;
  font-size: 12px;
}

.genTypeControls {
  position: relative;
  top: -10px;
  display: flex;
}

.genType {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.genTypeLabel {
  font-size: 16px;
  margin-right: 10px;
}

.numOfQuestions {
  display: flex;
  align-items: center;
}

.numOfQuestionsLabel {
  font-size: 13px;
  margin-right: 10px;
}

.genTypeDescription {
  position: relative;
  top: -25px;
  text-wrap: normal;
  font-size: 12px;
}

.footer {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.addButton {
  margin-left: 10px;
  height: 20px;
}

.instruction {
  //position: relative;
  text-wrap: normal;
  font-size: 12px;
}
