@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px 40px 20px;
}

.textbox {
  flex: 1;
}

.answer {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 10px;
}