.root {

}

.body {
  padding: 3px;
  border: 3px solid;
  height: 370px;
  overflow-y: auto;
}

.header {
  display: flex;
  height: 70px;
}

.label {
  width: 350px;
}

.title {
  font-size: 28px;
}

.description {
  position: relative;
  top: -10px;
  text-wrap: normal;
  font-size: 12px;
}

.genTypeControls {
  position: relative;
  top: -10px;
  display: flex;
}

.genType {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.genTypeLabel {
  font-size: 16px;
  margin-right: 10px;
}

.numOfQuestions {
  display: flex;
  align-items: center;
}

.numOfQuestionsLabel {
  font-size: 13px;
  margin-right: 10px;
}

.genTypeDescription {
  position: relative;
  top: -25px;
  text-wrap: normal;
  font-size: 12px;
}

.addButton {
  margin-left: 10px;
  height: 20px;
}
