@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  padding: 16px;
}

.title {
  margin-top: 0;
}

.textField {
  width: 180px !important;
}

.checkboxes {
  height: 100px;
  overflow: auto;
}
