@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  padding: 20px;
  display: flex;
  flex-direction: row;
}

.cover {
  width: 300px;
  padding-right: 10px;
}

.imageHolder {
  position: relative;
  padding-bottom: 125%;
  background-color: '#f5f5f5';
  box-sizing: border-box;
  margin: '0 auto';
  overflow: hidden;
  width: 90%;
}

.image {
  position: absolute;
  width: 100%;
}

.publisher {
  display: inline-block;
  margin-right: 5px;
}
.inline {
  display: inline-block;
}

.dropzone {
  width: 100%;
  height: 200px;
  border: 5px dashed black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;
}

.dragAndDropText {
  font-size: 24pt;
  font-weight: bold;

  margin: auto 0 0 0;
}

.clickText {
  font-size: 10pt;

  margin: 0 0 auto 0;
}

