.root {
  height: 100%;
}

.child {
  float: right;
  padding: 10px;
  transition: all 0.2s ease-in;
  box-sizing: border-box;

  position: relative;

  overflow-y: auto;
  height: calc(100% - 64px);
}

@media screen and (max-width: 1024px) {
  .child {
    width: 100% !important;
  }
}