@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  height: 100%;
  width: 100%;
}

.meta {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.top {
  margin-top: 1rem;
}

.publisher {
  margin-left: auto;
}

.publishedAt {
  margin-top: 0;
  color: #888;
}
