@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  width: 100%;
}

.video {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.progress {
  flex: 1;
}

.meta {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.date {
 margin-left: auto;
}
