.root {
  position: relative;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 14pt;
  padding: 0 10px 0 0;
}

.viewModePicker {
  margin-right: auto;
}

.searchField {
  margin-left: auto;
  padding: 0 10px 0 0;
}

.group {
  margin: 5px 25px 25px 25px 25px;
}

.fab {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 20;
}
