.root {
  width: 100%;
}

.noResultsWarning {
  margin: auto;
}

.label {
  font-weight: bold;
  font-size: 14pt;
}

.controls {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.pagination {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.pageButton {
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 30%;
}

.pageButton:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.pageButton:active {
  background-color: rgba(120, 120, 120, 0.5);
}

.selectLabel {
  padding: 0 20px 10px 0;

  font-weight: bold;
}

.search {
  padding: 0 20px 0 20px;
}