@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  width: '100%';
}

.noResultsWarning {
  margin: auto;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.label {
  font-weight: bold;
  font-size: 14pt;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.search {
  padding: 0 0 0 20px;
}

.rowContainer {
  position: relative;
}

.row {
  overflow-y: auto;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rowLeft, .rowRight {
  top: calc(50% - 50px);
  position: absolute;
  z-index: 20;
}
.rowLeft {
  left: 5px;
}
.rowRight {
  right: 5px;
}

.select {
  vertical-align: bottom;
}

.thumbnailContainer {
  padding: 10px;
}