@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  padding: 10px 18px 10px 18px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.date {
  float: right;
  color: gray;
  font-size: 14px;
}

.body {
  width: 100%;
  margin: 15px 0 15px 0;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.showComments {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
}

.showCommentsButton {
  margin: 10px;
}

.chosenAnswer {
  margin: 10px;
}