@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.horizontalRoot {
  font-family: $baseFontFamily;

  display: flex;
  flex-direction: row;
  align-items: center;  
}

.buttonStyle {
  height: 80px;
  width: 80px;
  padding: 16px;

}