.root {

}

.header {
  display: flex;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.addText {
  margin-right: 10px;
}

.tags {
  border: 1px black solid;
  padding: 3px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 0 10px 0;
}
