@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  width: 150px;
}

.overlay {
  transition: all .25s ease;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  &:hover {
    background: rgba(0,0,0,0.4),
  }
}

.iconBg {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.bookTitle, .bookSubtitle {
  margin: 10px;
  padding: 0;
}

.imageHolder, .emphasize {
  position: relative;
  padding-bottom: 125%;
  background-color: '#f5f5f5';
  box-sizing: border-box;
  margin: '0 auto';
  overflow: hidden;
  width: 100%;
}

.imageOnly {
  padding-bottom: 150%;
}

.emphasize {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}

.emphasizeExtra {
  height: 33px;
}

.image {
  position: absolute;
  width: 100%;
}

.expand {
  position: relative;
  padding-bottom: 125%;
  width: 100%;
}

.coverExpand {
  position: absolute;
  width: 100%;
}

.coverThumb {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.removeMargin {
  margin: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  color: gray;
  font-size: 12px;
}

.actionsPositionTop {
  cursor: pointer;
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.actionsPositionBottom {
  cursor: pointer;
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}
