@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  float: left;  

  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 14pt;
}

.graph {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}