@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;

  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}