@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
}

.label {
  color: #555;
}

.title {
}

.warningMsg {
  display: inline-block;
  width: 300px;
  .warning {
    color: red;
  }
}

.answerQuestion {
  display: inline-block;
}
