
.root {
  padding: 30px;
}

.topic {
  padding: 30px;
}

.withVote {
  display: flex;
  align-items: center;
}

.pic {
  height: 100px;
  width: 80px;
  margin-right: 20px;
}

.title {
  font-size: 20px;
}

.body {
  margin: 10px 5px;
}

.creator {
  color: lightslategray;
  font-size: 15px;
}

.controls {
  float: right;
}
