
.root {
  margin: 10px;
  padding: 10px;
}

.withVote {
  display: flex;
  align-items: center;
}

.pic {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.title {
  font-size: 20px;
}

.body {
  margin: 10px 5px;
}

.creator {
  color: lightslategray;
  font-size: 15px;
}
