.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: blue;
  padding: 0;
  margin-right: 30px;
  width: 40px;
  height: 120px;
}

.up {
  width: 45px;
  height: 45px;
  padding: 0
}

.upIcon {
  //background-color: green;
  position: relative;
  bottom: 8px;
  width: 36px;
  height: 36px;
}

.down {
  width: 45px;
  height: 45px;
  padding: 0
}

.downIcon {
  //background-color: orange;
  position: relative;
  bottom: 10px;
  width: 36px;
  height: 36px;
}

.footer {
  position: relative;
  font-size: 10px;
  margin-bottom: 10px;
}
