
.root {

}

.answerControl {
  padding: 20px;
  display: flex;
  align-items: center;
}

.answerText {
  margin: 5px 20px !important;
}

.loadMore {
  display: flex;
  text-align: center;
  background-color: blue;
  margin: 10px auto;
}
