/*
  color, fonts
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

$baseFontFamily: 'Roboto', sans-serif;

$baseColor: #2196F3;
$lighterColor: #64B5F6;
$darkerColor: #1976D2;
$accentColor: #F48FB1;
$errorColor: #D50000;
$errorColorMuted: #FF8A80;