.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 15px;

  height: 180px;
  width: 180px;
}

.rootWithButton {
  height: 220px;
}

.pic {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.dropzone {
  width: 100%;
  height: 200px;
  border: 5px dashed black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;
}

.preview {
  margin: 0;
  padding: 0;
  text-align: center;
}

.previewPic {
  height: 450px;
  width: 720px;
}

.dropzoneHeader {
  font-size: 24pt;
  font-weight: bold;

  margin: auto 0 0 0;
}

.dropzoneText {
  font-size: 10pt;
  margin: 0 0 auto 0;
}
