.root {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cover {
  width: 200px;
}

.imageHolder {
  position: relative;
  padding-bottom: 125%;
  background-color: '#f5f5f5';
  box-sizing: border-box;
  margin: '0 auto';
  overflow: hidden;
  width: 90%;
}

.image {
  position: absolute;
  width: 100%;
}

.auxButtons {
  float: right;
  flex-grow: 1;
}

.enroll {
  float: right;
}

.dropzone {
  width: 100%;
  height: 200px;
  border: 5px dashed black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;
}

.dragAndDropText {
  font-size: 24pt;
  font-weight: bold;

  margin: auto 0 0 0;
}

.clickText {
  font-size: 10pt;

  margin: 0 0 auto 0;
}
