@import '../../variables.scss';

.root {
  font-family: $baseFontFamily;
  padding: 10px;
  margin: 10px;
}

.wrapper {
  display: flex;
  //margin: 15px 0px 15px 0px;
}

.threadBodyLow {
  display: flex;
  align-items: center;

}

.spacer {
  flex-grow: 0.32;
}

.tags {
  padding-left: 20px;
  flex-grow: 4;
}

.commentButton {
  flex-grow: 0.32;
}

.voteControl {
  max-width: 50px;
  flex-grow: 1;
  padding: 5px;
}

.threadBody {
  flex-grow: 3;
  font-size: 15px;
  margin: 15px 15px 15px 0px;
}

.commentButton,
.auxButtons {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: flex-end;
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.creatorInfo {
  color: gray;
  font-size: 13px;
}

.comments {
  padding: 25px 15px 15px 15px;
}
