.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url('./assets/kc-adb-web-login-bg.png') no-repeat center center fixed;
  background-size: cover;
  padding: 60px;
}

.textLogo {
  background-image: url('./assets/kc-adb-web-login-text-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 363px;
  height: 138px;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.adb {
  background-image: url('./assets/kc-adb-web-login-icon-adb.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.dswd {
  background-image: url('./assets/kc-adb-web-login-icon-dswd.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.kalahi {
  background-image: url('./assets/kc-adb-web-login-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.text {
  color: white;
  font-size: 8pt;
  margin: 25px auto auto auto;
}

.footer {
  flex: 0.5;
}